.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  float: left;
  white-space: nowrap;
  position: relative;
  top: 20px;
}

.horizontal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.jumbo-light {
  border-radius: 0rem;
  margin: 0px;
}

.jumbo-dark {
  color: white;
  background-color: #343a40;
  border-radius: 0rem;
  margin: 0px;
}

a.underline, a.underline:focus {
  text-decoration: underline;
}
a.underline:hover {
  text-decoration: none;
}
