@font-face {
    font-family: 'Linux Libertine Display';
    src: url('fonts/LinLibertine_DR.woff') format('woff'),
         url('fonts/LinLibertine_DRah.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  scroll-behavior: smooth;
}

.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  float: left;
  white-space: nowrap;
  position: relative;
  top: 20px;
}

.horizontal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.jumbo-light {
  border-radius: 0rem;
  margin: 0px;
}

.jumbo-dark {
  color: white;
  background-color: #343a40;
  border-radius: 0rem;
  margin: 0px;
}

h1.freetext {
  margin-bottom: 25px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 2.0rem;
}

h2.freetext {
  margin-bottom: 25px;
  margin-top: 50px;
  font-weight: bold;
}

h3.freetext {
  margin-bottom: 18px;
  margin-top: 50px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

h5.freetext {
  color: #aec5e8;
  # original color of logo: color: #afc6e9;
  font-family: 'Linux Libertine Display', serif;
  font-size: 1.414rem;
  # font-weight: bold;
  # margin-top: 0px;
  # margin-bottom: 1px;
}

a.underline, a.underline:focus {
  text-decoration: underline;
}
a.underline:hover {
  text-decoration: none;
}

// Vertically center
.container {
  height: 100vh;
  position: relative;
}
.centerM {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background: url('background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.introduction {
    height: 100vh;
    width: 100%;
//    background: url('background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image {
    box-shadow: 10px 10px 15px silver;
    margin-bottom: 20px;
}

.case th {
    border-style:solid;
    padding: 1px !important;
    height: 110px;
}

.navbar-nav {
    min-height: 55px;
    line-height: 55px;
}

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background: #212327;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}
