*~
*.iml
bin
logs
target
tmp
backend/public/repertories/b*
backend/public/repertories/atama*
backend/public/repertories/hering*
backend/public/repertories/kent_*
backend/public/repertories/README.txt
*fastOpt*
*fastopt*
third-party*
/.cache*
/.classpath
/.g8
/.idea
/.idea_modules
/.js
/.jvm
/.classpath
/.project
/.settings
/RUNNING_PID
