<div class="container" style="padding-top:200px; padding-bottom:200px">

  <div class="col">
      <img src="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/logo_small.png" width="180" height="65" alt="OOREP">
  </div>

  <div class="col">
    <h1 class="freetext">Contact</h1>
  </div>

  <div class="col">
    <p style="text-align:justify;">
      OOREP is free software in the sense of the GNU General Public
      License (short: GPL) and was written from scratch
      by <a href="http://baueran.multics.org/">Andreas Bauer</a>.  He
      also runs and maintains this server, which hosts an installed
      instance of the OOREP software for your convenience; that is, it
      saves you from setting up an OOREP software instance on your own.
    </p>
    
    <p style="text-align:justify;">
      He can be contacted under the following address:
    </p>

    <p style="text-align:justify;">
      Andreas Bauer<br>
      Veilchenstr. 3<br>
      86438 Kissing<br>
      Germany<br>
    </p>

    <p style="text-align:justify;">
      Homepage: <a href="http://baueran.multics.org/">Andreas Bauer</a><br>
      E-Mail: info&#64;oorep.com
    </p>

    <p style="text-align:justify;">
      <b>Before writing to him:</b> Please also take note of the
      information provided in the disclaimer at the bottom of this
      page as well as the FAQ and the privacy policy before contacting
      him about any issues that you may have!  Also, he does not offer any
      kind of user support or assistance in using this web site that
      exceeds what is mentioned in the privacy policy.  He simply does
      not have the time.
    </p>
  </div>
  
</div>
