<div style="width:100%;" id="content_bottom">
    <div id="disclaimer_div" class="jumbotron jumbo-dark text-center center-block" style="position: relative;">

        <a target="_blank" rel="noopener noreferrer" href="https://github.com/nondeterministic/oorep">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
        </a>
        <br>
        <div class="container" style="font-size:12px;">
            <h4 style="text-align:center; margin-bottom: 20px">
                <span>Hinweis <span class="white-dot"></span> Disclaimer</span>
            </h4>
            <p style="text-align:justify;">
                Diese Homöopathie-Website ist ausschließlich zu Informationszwecken gedacht.
                Sie ist nicht geeignet zur Selbstmedikation oder ersetzt den Besuch eines Arztes oder Apothekers.
                Die Wirksamkeit von Homöopathie ist wissenschaftlich nicht bewiesen!
                Der Autor dieser Website übernimmt keine Verantwortung für die Richtigkeit der Ergebnisse oder die Folgen,
                die aus einem unsachgemäßen Gebrauch resultieren.
            </p>
            <p style="text-align:justify;">
                This homeopathy web site is intended for information purposes only.
                It is not suitable for self-medication or can replace the visit of a medical doctor/GP.
                Scientifically, homeopathy was never proven to actually work!
                The author of this web site does not take responsibility for the correctness of this site's
                results or the consequences of misusing them.
            </p>
        </div>

        <br>

        <div class="container">
            <a class="underline" style="color:white;" href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}/">Home</a>
            |
            <a class="underline" style="color:white;" href="https://twitter.com/OOREP1" target="_blank" rel="noopener noreferrer">News</a>
            |
            <a class="underline" style="color:white;" href="/impressum">Impressum</a>
            |
            <a class="underline" style="color:white;" href="/contact">Contact</a>
            |
            <a class="underline" style="color:white;" href="/cookies">Privacy policy</a>
        </div>
        <br>
        <div class="container" style="margin-top: 0.5cm; font-size:12px;">
            <p>
                Copyright &#169; 2020-@{java.time.Year.now().getValue()} Andreas Bauer. All rights reserved.
            </p>
        </div>
    </div>
</div>
