<a href="https://github.com/nondeterministic/oorep">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
</a>
<br>
<div class="container" style="font-size:12px;">
    <h4 style="text-align:center; margin-bottom: 20px">
        <span>Hinweis / Disclaimer</span>
    </h4>
    <p style="text-align:justify;">
        Diese Homöopathie-Website ist ausschließlich zu Informationszwecken gedacht.
        Sie ist nicht geeignet zur Selbstmedikation oder ersetzt den Besuch eines Arztes oder Apothekers.
        Die Wirksamkeit von Homöopathie ist wissenschaftlich nicht bewiesen!
        Der Autor dieser Website übernimmt keine Verantwortung für die Richtigkeit der Ergebnisse oder die Folgen,
        die aus einem unsachgemäßen Gebrauch resultieren.
    </p>
    <p style="text-align:justify;">
        This homeopathy web site is intended for information purposes only.
        It is not suitable for self-medication or can replace the visit of a medical doctor/GP.
        Scientifically, homeopathy was never proven to actually work!
        The author of this web site does not take responsibility for the correctness of this sites'
        results or the consequences of misusing them.
    </p>
</div>
<br>
