<div style="width:100%;" id="content_bottom">
    <div id="disclaimer_div" class="jumbotron jumbo-dark text-center center-block" style="position: relative;">

        @partial.disclaimer_text_only()

        <div class="container">
            <a class="underline" style="color:white;" href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}/">Home</a>
            |
            <a class="underline" style="color:white;" href="https://twitter.com/OOREP1">News</a>
            |
            <a class="underline" style="color:white;" href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}/noscript/impressum">Impressum</a>
            |
            <a class="underline" style="color:white;" href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}/noscript/contact">Contact</a>
            |
            <a class="underline" style="color:white;" href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}/noscript/cookies">Privacy policy</a>
        </div>
        <br>
        <div class="container" style="margin-top: 0.5cm; font-size:12px;">
            <p>
                Copyright &#169; 2020-2021 Andreas Bauer. All rights reserved.
            </p>
        </div>
    </div>
</div>
