<div class="container" style="padding-top:200px; padding-bottom:200px">

  <div class="col">
	  <img src="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/logo_small.png" alt="OOREP">
  </div>

  <div class="col">
	  <h1 class="freetext">Frequently asked questions (and answers)</h1>
  </div>

  <div class="col">

    <h3 class="freetext">General</h3>

    <h5 class="freetext">&bull; What is OOREP?</h5>

    <p style="text-align:justify;">
		OOREP is an open online homeopathic repertorisation system, in
		that it is open source software and only requires a web
		browser to run.
    </p>
      
    <p style="text-align:justify;">
		That is, if you don't like this web page, or would like to
		change something in the program, you can download its source
		code, edit it, compile it and run your own server.  If you
		don't know how to do that, feel free to use this very server
		that you are on, which we have provided for your convenience.
    </p>
      
    <p style="text-align:justify;">
		OOREP was written primarily for people who are familiar with
		the term (homeopathic) repertorisation, such as professionals
		or students of homeopathy, but also and in particular for interested
		laypersons with merely a private interest in homeopathy (like
		the author of this software).  It is not, however, a
		(professional) medicinal software for storing any kind of
		sensitive patient data or for obtaining	medical analyses of any
		sorts.  <b>Consider OOREP as an electronic look-up tool only!</b>
		It is not intended to and cannot replace the visit of a doctor/GP
		in case of an illness.  See also the disclaimer at the bottom
		of this page!
    </p>

    <h5 class="freetext">&bull; What is repertorisation?</h5>
      
    <p style="text-align:justify;">
		Loosely speaking, repertorisation is the process of looking up
		categories in homeopathic repertory books.  These books have
		been around for almost as long as homeopathy itself and are
		intended to help homeopathic practitioners select homeopathic
		remedies.  Online or in general software-based repertorisation
		aims at making this look-up process more efficient.
		It does, however, not provide any information or recommendations,
		which the underlying sources (i.e., the	homeopathic repertory
		books) don't already provide.  So, in abstract terms you can
		think of online/electronic repertorisation as the efficient
		searching through homeopathy books.
    </p>

    <h5 class="freetext">&bull; Why yet another homeopathic software?</h5>
      
    <p style="text-align:justify;">
		There are indeed very good and mature homeopathy programs out
		there whose features exceed those offered by OOREP by far.
		However, these all suffer from one or both of the following
		problems: 1. they are extremely expensive (especially, if you
		like the author of OOREP do not make a living from a
		homeopathic practice), and 2. they are platform-specific;
		meaning, they require a certain version of an operating system
		and/or a license key to be installed on a specific computer,
		etc., which can be a practical challenge or at least an
		inconvenience. (For example, what if you update your computer
		or buy a new one?)
    </p>
      
    <p style="text-align:justify;">
		OOREP was written to be easily accessible by anybody with an
		interest in and basic understanding of homeopathic
		repertorisation.  As such it doesn't offer the same advanced
		features that the commercial homeopathy programs do.  Automated
		repertorisation, however, which is <emph>the</emph> key feature
		of any such homeopathy program, is offered, even including
		multiple different repertories.
    </p>

  </div>
  
  <div class="col">
    
    <h3 class="freetext">Intellectual property</h3>

    <h5 class="freetext">&bull; Who wrote OOREP?</h5>

	<p style="text-align:justify;">
		OOREP was written by Andreas Bauer (see also contact
		section at the bottom of this site or impressum for
		German-speaking users) in his copious spare time.

		Its source code can be freely obtained from its
		<a href="https://github.com/nondeterministic/oorep">git repository</a>.
		It is published under the so-called GNU General	Public License
		(short: GPL) and as such, OOREP comes with no warranty, no
		guarantees, not even fitness for a particular purpose.
    </p>

    <h5 class="freetext">&bull; What repertories do you use?</h5>

    <p style="text-align:justify;">
		At the moment, there are 12 different repertories installed
		on this server.  We do <b>not</b> consider them all to be part of
		OOREP itself though.  Until further notice, the OOREP source
		code is only accompanied by the <i>kent-de</i> and <i>publicum</i>
		repertories (see list below).  The other repertories are served
		on this very server for your convenience, but are presently not
		intended for any further redistribution.
    </p>

    <p style="text-align:justify;">
		The following repertories are currently used on this server:
    </p>

    <ul>

		<li>boen [under development]: <b>T. F. Allen:</b> <i>Boenninghausen's
			Therapeutic Pocket Book</i>, The Hahnemann Publishing House, Philadelphia (1891).</li>

		<li>boericke: <b>W. Boericke:</b> <i>Pocket Manual of Homoeopathic Materia Medica</i>,
			Boericke &amp; Runyon, New York (1906).</li>

		<li>bogboen: <b>C. M. Boger:</b> <i>Boenninghausen's
			Characteristics and Repertory</i>, Parkersburg, W. Va. (1905).</li>

		<li>boger: <b>C. M. Boger:</b> <i>General Analysis</i> (ca. 1931).</li>

		<li>bogsk: <b>C. M. Boger:</b> <i>A Synoptic Key of the Materia Medica</i>,
			2nd ed., Parkersburg, W. Va. (1916).</li>

		<li>bogsk-de: German translation of <i>bogsk</i> by <a href="https://naturheilpraxis-maier.de/">Naturheilpraxis Maier</a> (2020).
			Used with friendly permission from <b>Andreas Maier</b>.</li>

		<li>hering: <b>C. B. Kneer:</b> <i>Repertory of Hering's Guiding Symptoms of our
			Materia Medica</i>, F. A. Davis Co. for the Estate of Constantine Hering, Philadelphia (1896).</li>

		<li>kent: <b>J. T. Kent:</b> <i>Repertory of the Homoeopathic Materia Medica</i>,
			6th ed., Examiner Printing House, Lancaster, Pa. (1897).</li>

		<li>kent-de: German translation of <i>kent</i> by the
			Bildungswerk für therapeutische Berufe/<b>Joscha
				Körschgen</b>. Published under the terms of the GPL v3
			license as part of a
			"<a href="https://github.com/Bergische-Akademie/OpenRep-Deutsch">fork</a>"
			of Vladimir Polony's OpenRep software (2012).</li>

		<li>publicum: repertory v0.5 of the OpenRep software (derived
			from <i>kent</i>). Published by <b>Vladimir Polony</b>,
			Stupy 24, Banska Bystrica, Slovakia under the terms of the
			GPL v3 license (2008).</li>

		<li>robasif: <b>H. A. Roberts:</b> <i>Sensations as if - Repertory of Subjective Symptoms</i>,
			Formur Intl. (1937).</li>

		<li>tylercold: <b>M. L. Tyler:</b> <i>Miniature repertory of the common cold</i>
			taken from <i>Pointers to the Common Remedies</i>,
			British Homeopathic Association (1934).</li>

    </ul>

    <p style="text-align:justify;">
	Unless otherwise noted, the repertories were extracted
	from publicly available sources from the Internet, e.g.,
	scans, PDFs, etc.  We do not hold responsibility for any errors
	that may have occurred in the process.  If you do happen
	to find any such error and report it to us, we will,
	however, attempt to correct it as soon as possible.
    </p>

    <p style="text-align:justify;">
	Please also note that the availability of certain repertories
	is likely to change in the future.  There will always be one
	or two repertories free to use for anybody who wishes to, but
	we have plans to make certain features and repertories
	available only to those, who register with this web
	site. When/if this will happen, we cannot foresee right now.
    </p>
      
    <h5 class="freetext">&bull; Any plans to offer the modern/big repertories like Synthesis or Murphy?</h5>

    <p style="text-align:justify;">
	Yes, we'd love to.  For example, we have even spoken to Roger
	Zandvoort at some point about the inclusion of his repertory,
	but due to the limited amount of time we can invest in OOREP
	right now, we have no concrete plans when/if this will happen.
    </p>

    <h5 class="freetext">&bull; Who made the graphics on this web site?</h5>

    <p style="text-align:justify;">
	Please see the impressum (link at the bottom of this page) for the respective attribution.
    </p>

    <h5 class="freetext">&bull; Which third-party libraries and fonts are used on this web site?</h5>

    <p style="text-align:justify;">
		This web-site, which hosts a running version of OOREP, was built using
		a number of third-party libraries and fonts that are not part of OOREP
		or its git repository.  You will find an overview in the impressum
		(link at the bottom of this page).
	</p>

  </div>
  
  <div class="col">
    
    <h3 class="freetext">Other</h3>
    
    <h5 class="freetext">&bull; Why am I not getting the desired results from repertorisation?</h5>

    <p style="text-align:justify;">
	There are two major reasons, why you may be dissatisifed with
	the search results of this site:
    </p>

    <p style="text-align:justify;">
		1. the search returned <i>too many</i> results and you have trouble finding
		the one that is specific to your need. If that's the case, you can try
		restricting your search by adding additional search terms to narrow
		the scope. Alternatively, you can <i>exclude</i> certain search terms
		to make your search more specific. So, for example, rather than looking
		for "pain", you could look for "pain, -abdomen, -head", thereby excluding
		all results containing "head" or "abdomen".
    </p>

    <p style="text-align:justify;">
		2. the search doesn't return <i>enough</i> results for a
		single look-up.  In this case, try using
		so-called <b>wildcards</b>.  So, instead of looking for
		"throat, dry" (2 results in publicum), you could try looking
		for "throat*, dry*" (47 results in publicum).  This also
		matches "dryness", for example.
    </p>
      
    <h5 class="freetext">&bull; How does registration/login work?</h5>
      
    <p style="text-align:justify;">
		As the above answers already indicate, what you see here is an
		early preview of OOREP.  Registration is currently disabled in
		this phase and login only possible for selected beta-testers,
		so to speak.  How long this phase will last, we cannot foresee
		right now.
    </p>
      
    <h5 class="freetext">&bull; How much does OOREP cost?</h5>
      
    <p style="text-align:justify;">
	OOREP is free and always will be!  However, there will be a
	paid service subscription model on this web site, which you
	may or may not want to use in the future.  See also the
	pricing section on this site (see top of page).
    </p>
      
    <h5 class="freetext">&bull; Do you have a cookie and privacy policy?</h5>

    <p style="text-align:justify;">
	Yes, please see the policy link at the bottom of this site.
    </p>
      
    <h5 class="freetext">&bull; Who do I contact and where may I get support from?</h5>
      
    <p style="text-align:justify;">
		Please see the contact link at the bottom of this site.
		However, we basically offer no help in using or explaining
		this web site.  We simply do not have the time to do so.
		Any other issues which you may have with OOREP or this
		site, can be forwarded to us.
    </p>

  </div>
  
</div>
