<div class="row justify-content-center" style="padding-top:200px; padding-bottom:200px;">

    <div class="col-md-4 text-center">

        <div class="col">
            <a href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}">
                <img src="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/logo_small.png" width="180" height="65" alt="OOREP">
            </a>
        </div>

        <div class="col" style="padding-top:30px;">
            <div class="card">
                <h5 class="card-header">
                    Help with user login
                </h5>
                <div class="card-body">

                    <p>
                        After submitting any of the forms below, please check your email inbox for further instructions!
                    </p>

                    <div class="col" style="padding-bottom:30px;">
                        <form class="form-signin" action="/api/request_password_change" enctype="text/html;charset=UTF-8" method="POST">
                            <h3 class="h5 mb-5 font-weight-bold" style="padding-top:30px;">
                                I forgot my password...
                            </h3>
                            <label for="inputUsernameOrEmail" class="sr-only">Email address</label>
                            <p>
                                <input type="text" name="inputUsernameOrEmail" id="inputUsernameOrEmail" class="form-control" placeholder="Enter username or email" required>
                            </p>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Send new password</button>
                        </form>
                    </div>

                    <hr/>

                    <div class="col" style="padding-top:20px;">
                        <form class="form-signin" action="/api/request_username" method="POST">
                            <h3 class="h5 mb-5 font-weight-bold">
                                I forgot my username...
                            </h3>
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <p>
                                <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Enter email" required>
                            </p>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Send username</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
