<div class="container" style="padding-top:200px; padding-bottom:200px">
    <div style="width:100%; margin-bottom:100px;" class="text-center">
      <a href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}">
          <img src="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/logo_small.png" width="180" height="65" alt="OOREP">
      </a>
      <h1 class="h3 mb-5 font-weight-bold" style="padding-top:30px;">
          Sorry, registration unavailable while OOREP is in beta-testing stage
      </h1>

      <p class="mt-8 mb-5 text-muted">
          <a href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}"><img class="image" src="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/pharmacy-3377670_640.jpg" alt=""></a>
      </p>

    </div>
</div>
