@(title: String)

@header = {
        <link rel="stylesheet" href="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/third-party/bootstrap-4.1.3/css/bootstrap.min.css">
        <script src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/third-party/jquery-3.3.1.min.js"></script>
        <script src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/third-party/popper.min.js"></script>
        <script src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/third-party/bootstrap-4.1.3/js/bootstrap.min.js"></script>
        <script src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/js/oorep_local.js"></script>
        <link rel="stylesheet" href="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/third-party/open-iconic-master/font/css/open-iconic-bootstrap.css">
        <link rel="stylesheet" href="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/mystyle.css">

        <meta name="description" content="Free online repertory of homeopathy that requires only a web browser to run. Features many of the classical repertories, such as Kent, Boger, Hering, etc." />
	    <meta name="keywords" content="oorep, online, repertory, homeopathy, repertorization, kent" />

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:image" content="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/oorep_screenshot_shared.jpg" />
        <meta property="og:image:secure_url" content="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/oorep_screenshot_shared.jpg" />
        <meta property="og:description" content="Free online repertory of homeopathy that requires only a web browser to run. Features many of the classical repertories, such as Kent, Boger, Hering, etc." />
        <meta property="og:type" content="website" />

        <meta property="og:title" content="OOREP - open online homeopathic repertory" />
}

@main(title, header) {
    <div class="row justify-content-center" style="padding-top:200px; padding-bottom:200px;">

      <div class="col-md-4 text-center">

        <div class="col">
            <a href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}">
                <img src="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/logo_small.png" alt="OOREP">
            </a>
        </div>

        <div class="col" style="padding-top:30px;">
          <div class="card">
            <h5 class="card-header">
                Help with user login
            </h5>
            <div class="card-body">

              <p>
                After submitting any of the forms below, please check your email inbox for further instructions!
              </p>

              <div class="col" style="padding-bottom:30px;">
                <form class="form-signin" action="/api/request_password_change" enctype="text/html;charset=UTF-8" method="POST">
                  <h3 class="h5 mb-5 font-weight-bold" style="padding-top:30px;">
                    I forgot my password...
                  </h3>
                  <label for="inputUsernameOrEmail" class="sr-only">Email address</label>
                  <p>
                    <input type="text" name="inputUsernameOrEmail" id="inputUsernameOrEmail" class="form-control" placeholder="Enter username or email" required>
                  </p>

                  <button class="btn btn-lg btn-secondary btn-block" type="submit">Send new password</button>
                </form>
              </div>

              <hr/>

              <div class="col" style="padding-top:20px;">
                <form class="form-signin" action="/api/request_username" method="POST">
                  <h3 class="h5 mb-5 font-weight-bold">
                    I forgot my username...
                  </h3>
                  <label for="inputEmail" class="sr-only">Email address</label>
                  <p>
                    <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Enter email" required>
                  </p>

                  <button class="btn btn-lg btn-secondary btn-block" type="submit">Send username</button>
                </form>
              </div>

            </div>
          </div>
        </div>

          <div class="col-md-12" style="padding-top:20px;">
              <a href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}">Back to main page</a>
          </div>

      </div>

    </div>
}
