@(request: Request[AnyContent])

@import org.multics.baueran.frep.backend.controllers._
@import org.multics.baueran.frep.shared.Defs._

<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

  <head>
    @partial.header("OOREP - open online homeopathic repertory",
                    getFromRequestCookie(request, CookieFields.theme.toString).getOrElse("normal"))
  </head>

  <body>

    @if(org.multics.baueran.frep.backend.controllers.getAuthenticatedUser(request) == None) {
      @partial.cookiepopup(org.multics.baueran.frep.backend.controllers.Get.staticServerUrl)
    }

    @partial.navbar(org.multics.baueran.frep.backend.controllers.Get.staticServerUrl, request)

    @partial.noscript_warning()

    <div id="temporary_content">

      <div style="width:100%;">
        <div style="width:100%; height: 80vh; margin-top:100px; margin-bottom:100px;" class="text-center">
          <h1 style="font-size:20pt;">
            <a href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}/"><img src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/logo_small.png" width="180" height="65" alt="OOREP"></a>
            &nbsp; &middot; &nbsp; open online homeopathic repertory
          </h1>
        </div>

      </div>

    </div>

    <div style="width:100%;" id="content"></div>

    <script>AOS.init();</script>

    @if(org.multics.baueran.frep.backend.controllers.getAuthenticatedUser(request) == None) {

      <script async src="/assets/frontend-opt.js"></script>

      @partial.about()

      @partial.features()

    } else {

      <script async src="/assets/sec_frontend-opt.js"></script>

    }

    @partial.disclaimer()

  </body>
</html>
