@(request: Request[AnyContent], memberId: Int, pcrId: String, title: String)

@import org.multics.baueran.frep.backend.controllers._
@import org.multics.baueran.frep.shared.Defs._

@header = {
  @{ partial.header(title,
                    getFromRequestCookie(request, CookieFields.theme.toString).getOrElse("normal")) }
}

@main(title, header) {

    @partial.noscript_warning()

    <div id="temporary_content">

        <div style="width:100%;">
            <div style="width:100%; margin-top:100px; margin-bottom:100px;" class="text-center">
                <h1 style="font-size:20pt;">
                    <a href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}/"><img src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/logo_small.png" width="180" height="65" alt="OOREP"></a>
                    &nbsp; &middot; &nbsp; open online homeopathic repertory
                </h1>
            </div>

            @partial.about()

            @partial.features()

        </div>

    </div>

    <div style="width:100%;" id="content"></div>

    <!-- Load JavaScript application first (e.g., in case of /show?), then execute below script. -->
    <script src="/assets/frontend-opt.js"></script>

    <!-- Now that application has loaded, display the change password dialog... -->
    <script>
    $(document).ready(function(){
      ChangePasswordForm.show("@memberId", "@pcrId");
    });
    </script>

    @partial.disclaimer()

}
