@(repertory: String, symptom: String, page: Int, remedyString: String, minWeight: Int, title: String)

@header = {
        <link rel="stylesheet" href="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/third-party/bootstrap-4.1.3/css/bootstrap.min.css">
        <script src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/third-party/jquery-3.3.1.min.js"></script>
        <script src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/third-party/popper.min.js"></script>
        <script src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/third-party/bootstrap-4.1.3/js/bootstrap.min.js"></script>
        <script src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/js/oorep_local.js"></script>
        <link rel="stylesheet" href="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/third-party/open-iconic-master/font/css/open-iconic-bootstrap.css">
        <link rel="stylesheet" href="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/mystyle.css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:image" content="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/oorep_screenshot_shared.jpg" />
        <meta property="og:image:secure_url" content="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/oorep_screenshot_shared.jpg" />
        <meta property="og:description" content="Free online repertory of homeopathy that requires only a web browser to run. Features many of the classical repertories, such as Kent, Boger, Hering, etc." />
        <meta property="og:type" content="website" />

        @if(remedyString.length > 0) {
        <meta property="og:title" content="OOREP - rubrics for '@symptom' containing '@remedyString' in repertory '@repertory'" />
        } else {
        <meta property="og:title" content="OOREP - rubrics for '@symptom' in repertory '@repertory'" />
        }

        <meta name="description" content="Free online repertory of homeopathy that requires only a web browser to run. Features many of the classical repertories, such as Kent, Boger, Hering, etc." />
        <meta name="keywords" content="oorep, online, repertory, homeopathy, repertorization, kent" />
}

@main(title, header) {
    @partial.noscript_warning()

    <div id="temporary_content">

        <div style="width:100%;" id="content">
            <div style="width:100%; margin-top:100px; margin-bottom:100px;" class="text-center">
                <h1 style="font-size:20pt;">
                    <a href="@{org.multics.baueran.frep.backend.controllers.Get.staticServerUrl}/"><img src="@{org.multics.baueran.frep.backend.controllers.Get.staticAssetsPath}/img/logo_small.png" alt="OOREP"></a>
                    &nbsp; &middot; &nbsp; open online homeopathic repertory
                </h1>
            </div>

            @partial.about()

            @partial.features()

        </div>

        <div style="width:100%;">
            @partial.disclaimer_noscript()
        </div>

    </div>

    <!-- Load JavaScript application first (e.g., in case of /show?), then execute below script. -->
    <script src="/assets/sec_frontend-opt.js"></script>

    <!-- Now that application has loaded, display the results of below lookup... -->
    <script>
    $(document).ready(function(){
      Repertorise.doLookup("@repertory", "@symptom", "@page", "@remedyString", "@minWeight");
    });
    </script>
}
